@import "../../constants/screenSize.module.scss";
.portofolios {
  padding: 100px 0;
  .title {
    margin-bottom: 50px;
  }
  li {
    margin-right: 40px;
    @media (max-width: $md3+px) {
      margin-right: 0px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    text-decoration: none;
  }
}
