@import "../../constants/screenSize.module.scss";
.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  .introduction {
    width: 450px;
    .description {
      margin-top: 15px;
      letter-spacing: 1px;
      line-height: 26px;
      font-size: 14px;
    }
  }
  .profilePhoto {
    justify-content: end;
    display: flex;
  }
}
@media (max-width: $md4+px) {
  .aboutme {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .introduction {
      flex: 1;
      .description {
        margin-top: 15px;
        letter-spacing: 1px;
        line-height: 26px;
        font-size: 10px;
      }
    }
    .profilePhoto {
      justify-content: end;
      flex: 2w;
      display: flex;
    }
  }
}
