@import "../../constants/screenSize.module.scss";

.header {
  z-index: 1;
  position: sticky;
  transition: 0.3s ease all;
  top: 0;
  z-index: 2;
  background: #fff;
  opacity: 0.95;
  .content {
    overflow: hidden;
    color: inherit;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin: 20px;
      justify-content: center;
      display: flex;
      cursor: pointer;
      .name {
        font-family: "Syncopate";
        font-size: 18px;
        margin-top: 25px;
      }
      .img {
        img {
          margin-right: 10px;
          width: 50px;
        }
      }
      @media (max-width: $md2+px) {
        margin: 15px;
      }
      @media (max-width: $md3+px) {
        margin: 10px;
      }

      &:hover {
        color: black;
      }

      a {
        font-size: 30px;
        text-decoration: none;
        color: black;
        @media (max-width: $md2+px) {
          font-size: 24px;
        }
        @media (max-width: $md3+px) {
          font-size: 20px;
        }
        @media (max-width: $md4+px) {
          font-size: 18px;
        }

        &:active {
          color: black;
        }
      }
    }

    .navleft {
      top: 0;
      left: 100%;
      bottom: 0;
      width: 50%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      text-align: start;
      background: rgba(white, 0.9);
      backdrop-filter: blur(2px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @media (min-width: $md3+px) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
      }
      a {
        text-decoration: none;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        @media (min-width: $md3+px) {
          flex-direction: row;
          align-items: center;
        }
        @media (max-width: $md3+px) {
          margin: 6w0px 0 0 0;
        }
        li {
          font-size: 0.7rem;
          color: black;
          padding: 0 1.25rem;
          transition: 0.3s ease all;
          text-decoration: none !important;
          align-items: center;
          cursor: pointer;
          a {
            display: flex;
          }
          .logo {
            margin-right: 5px;
            font-size: 18px;
            display: flex;
          }
          @media (max-width: $md3+px) {
            display: flex;
            align-items: center;
            padding: 1rem 0.6rem;
            font-size: 1rem;
            margin-top: 10px;
          }
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
          &:not(:last-child) {
            @media (min-width: $md3+px) {
              margin-bottom: 0;
            }
          }
        }
      }

      &.isMenuLeft {
        transform: translate(-100%);
        z-index: 2;
      }
    }

    .toggle {
      z-index: 2;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 2rem;
      transition: 0.3s ease all;
      position: relative;

      &:hover {
        color: inherit;
      }
      @media (min-width: $md3+px) {
        display: none;
      }
    }
  }
}
.cart_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    @media (max-width: $md2+px) {
      margin-right: 20px;
    }
    li {
      display: flex;
      text-decoration: none !important;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
    .title {
      margin-left: 50px;
      margin-right: 5px;
      font-size: 0.7rem;
      border: 0.5px solid #212121;
      padding: 5px 10px;
    }
    .logo {
      display: flex;
      padding-right: 10px;

      .basketCounter {
        border: 0.5px solid #212121;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        font-size: 10px;
        font-weight: 600;
        top: 0;
        right: 0px;
      }
    }
  }
}
.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0;
  }
}
.menuTitle {
  display: flex;
  text-align: center;
  margin: auto;
}
